### Project Objectives

Provider Fraud is one of the biggest problems facing Medicare. According to the government, the total Medicare spending increased exponentially due to frauds in Medicare claims. Healthcare fraud is an organized crime which involves peers of providers, physicians, beneficiaries acting together to make fraud claims.

Rigorous analysis of Medicare data has yielded many physicians who indulge in fraud. They adopt ways in which an ambiguous diagnosis code is used to adopt costliest procedures and drugs. Insurance companies are the most vulnerable institutions impacted due to these bad practices. Due to this reason, insurance companies increased their insurance premiums and as result healthcare is becoming costly matter day by day.

Healthcare fraud and abuse take many forms. Some of the most common types of frauds by providers are:<br>
* Billing for services that were not provided.<br>
* Duplicate submission of a claim for the same service.<br>
* Misrepresenting the service provided.<br>
*  Charging for a more complex or expensive service than was actually provided.<br>
* Billing for a covered service when the service actually provided was not covered.

### Problem Statement

The goal of this project is to " predict the potentially fraudulent providers " based on the claims filed by them.along with this, we will also discover important variables helpful in detecting the behaviour of potentially fraud providers. further, we will study fraudulent patterns in the provider's claims to understand the future behaviour of providers.

### Introduction to the Dataset

For the purpose of this project, we are considering Inpatient claims, Outpatient claims and Beneficiary details of each provider.<br>
Lets see their details :<br>
* Inpatient Data:<br>
This data provides insights about the claims filed for those patients who are admitted in the hospitals. It also provides additional details like their admission and discharge dates and admit d diagnosis code.<br>
* Outpatient Data:<br>
This data provides details about the claims filed for those patients who visit hospitals and not admitted in it.<br>
* Beneficiary Details Data:<br>
This data contains beneficiary KYC details like health conditions,regioregion they belong to etc.

### Defintions:<br>
* DOB: Date of birth
* DOD: Date of death
* Part A coverage: Medicare Part A, often referred to as hospital insurance, primarily covers inpatient care in hospitals, skilled nursing facilities, hospice care, and some home health services.<br>
* Part B coverage: Medicare Part B is a component of Original Medicare that covers medically necessary services and preventive care, such as doctor visits, outpatient care, and certain medical supplies.<br>
* IPAnnualReimbursementAmt: This refers to the total amount reimbursed by the insurance provider for inpatient (IP) services over a year. It represents the financial compensation received for covered inpatient medical expenses.<br>
* OPAnnualReimbursementAmt: Similar to the inpatient counterpart, this term denotes the total amount reimbursed by the insurance provider for outpatient (OP) services over a year. It reflects the financial compensation for covered outpatient medical expenses.<br>
* IPAnnualDeductibleAmt: This is the total amount that an individual must pay out-of-pocket for inpatient services before the insurance coverage begins to reimburse any costs. It is a yearly threshold that must be met.<br>
* OPAnnualDeductibleAmt: This indicates the total out-of-pocket expense that an individual must cover for outpatient services before their insurance starts to pay for those costs. Like the inpatient deductible, it is calculated annually.

In [1]:
import sys
!{sys.executable} -m pip install matplotlib

Requirement already satisfied: matplotlib in /Users/cesarchaparro/.local/lib/python3.11/site-packages (3.7.0)

In [2]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
# open datasets
test_beneficiary = pd.read_csv("data_base/Test_Beneficiarydata-1542969243754.csv")
test_inpatient = pd.read_csv("data_base/Test_Inpatientdata-1542969243754.csv")
test_outpatient = pd.read_csv("data_base/Test_Outpatientdata-1542969243754.csv")
test = pd.read_csv("data_base/Test-1542969243754.csv")
train_beneficiary = pd.read_csv("data_base/Train_Beneficiarydata-1542865627584.csv")
train_inpatient = pd.read_csv("data_base/Train_Inpatientdata-1542865627584.csv")
train_outpatient = pd.read_csv("data_base/Train_Outpatientdata-1542865627584.csv")
train = pd.read_csv("data_base/Train-1542865627584.csv")

In [ ]:
test_beneficiary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11007,1940-09-01,2009-12-01,1,2,0,45,610,12,12,...,2,1,2,1,1,2,0,0,1490,160
2,BENE11010,1936-07-01,NaN,2,1,0,41,30,12,12,...,2,1,1,1,2,2,0,0,1170,660
3,BENE11011,1914-03-01,NaN,2,2,0,1,360,12,12,...,1,1,2,2,1,1,5000,1068,250,320
4,BENE11014,1938-04-01,NaN,2,1,Y,45,780,12,12,...,1,2,1,2,2,2,21260,2136,120,100

In [ ]:
test_beneficiary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63968 entries, 0 to 63967
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   BeneID                           63968 non-null  object
 1   DOB                              63968 non-null  object
 2   DOD                              574 non-null    object
 3   Gender                           63968 non-null  int64
 4   Race                             63968 non-null  int64
 5   RenalDiseaseIndicator            63968 non-null  object
 6   State                            63968 non-null  int64
 7   County                           63968 non-null  int64
 8   NoOfMonths_PartACov              63968 non-null  int64
 9   NoOfMonths_PartBCov              63968 non-null  int64
 10  ChronicCond_Alzheimer            63968 non-null  int64
 11  ChronicCond_Heartfailure         63968 non-null  int64
 12  ChronicCond_KidneyDisease        63968 non-null  int64
 13  ChronicCond_Cancer               63968 non-null  int64
 14  ChronicCond_ObstrPulmonary       63968 non-null  int64
 15  ChronicCond_Depression           63968 non-null  int64
 16  ChronicCond_Diabetes             63968 non-null  int64
 17  ChronicCond_IschemicHeart        63968 non-null  int64
 18  ChronicCond_Osteoporasis         63968 non-null  int64
 19  ChronicCond_rheumatoidarthritis  63968 non-null  int64
 20  ChronicCond_stroke               63968 non-null  int64
 21  IPAnnualReimbursementAmt         63968 non-null  int64
 22  IPAnnualDeductibleAmt            63968 non-null  int64
 23  OPAnnualReimbursementAmt         63968 non-null  int64
 24  OPAnnualDeductibleAmt            63968 non-null  int64
dtypes: int64(21), object(4)
memory usage: 12.2+ MB

In [ ]:
test_beneficiary.shape

(63968, 25)

In [ ]:
test_inpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11014,CLM67387,2009-09-09,2009-09-16,PRV57070,9000,PHY317786,PHY427017,NaN,2009-09-09,...,5990,570,41071,4280,4443.0,5849.0,NaN,NaN,NaN,NaN
1,BENE11017,CLM31237,2008-12-25,2009-01-08,PRV54750,14000,PHY314656,PHY426644,NaN,2008-12-25,...,4549,29570,34831,NaN,5551.0,NaN,NaN,NaN,NaN,NaN
2,BENE11026,CLM78930,2009-12-09,2009-12-13,PRV53758,2000,PHY349495,NaN,NaN,2009-12-09,...,78650,7813,4254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11031,CLM56810,2009-06-23,2009-07-06,PRV55825,16000,PHY429538,PHY371893,NaN,2009-06-23,...,4254,41400,5849,41401,8152.0,3320.0,NaN,NaN,NaN,NaN
4,BENE11085,CLM34625,2009-01-20,2009-01-31,PRV52338,19000,PHY397161,NaN,NaN,2009-01-20,...,V6109,7242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test_inpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BeneID                  9551 non-null   object
 1   ClaimID                 9551 non-null   object
 2   ClaimStartDt            9551 non-null   object
 3   ClaimEndDt              9551 non-null   object
 4   Provider                9551 non-null   object
 5   InscClaimAmtReimbursed  9551 non-null   int64
 6   AttendingPhysician      9520 non-null   object
 7   OperatingPhysician      5589 non-null   object
 8   OtherPhysician          1013 non-null   object
 9   AdmissionDt             9551 non-null   object
 10  ClmAdmitDiagnosisCode   9551 non-null   object
 11  DeductibleAmtPaid       9355 non-null   float64
 12  DischargeDt             9551 non-null   object
 13  DiagnosisGroupCode      9551 non-null   object
 14  ClmDiagnosisCode_1      9551 non-null   object
 15  ClmDiagnosisCode_2      9497 non-null   object
 16  ClmDiagnosisCode_3      9382 non-null   object
 17  ClmDiagnosisCode_4      9147 non-null   object
 18  ClmDiagnosisCode_5      8832 non-null   object
 19  ClmDiagnosisCode_6      8354 non-null   object
 20  ClmDiagnosisCode_7      7815 non-null   object
 21  ClmDiagnosisCode_8      7191 non-null   object
 22  ClmDiagnosisCode_9      6313 non-null   object
 23  ClmDiagnosisCode_10     887 non-null    object
 24  ClmProcedureCode_1      5433 non-null   float64
 25  ClmProcedureCode_2      1254 non-null   float64
 26  ClmProcedureCode_3      223 non-null    float64
 27  ClmProcedureCode_4      29 non-null     float64
 28  ClmProcedureCode_5      2 non-null      float64
 29  ClmProcedureCode_6      0 non-null      float64
dtypes: float64(7), int64(1), object(22)
memory usage: 2.2+ MB

In [ ]:
test_outpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11001,CLM392397,2009-06-02,2009-06-02,PRV55962,30,PHY347633,NaN,PHY347633,V5832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,BENE11001,CLM430760,2009-06-23,2009-06-23,PRV56112,30,PHY381777,NaN,PHY381777,9594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,BENE11007,CLM233081,2009-03-07,2009-03-07,PRV56979,200,PHY425311,NaN,PHY425311,7248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11007,CLM496381,2009-07-29,2009-07-29,PRV56573,10,PHY393253,PHY347995,NaN,58889,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,5939
4,BENE11007,CLM521391,2009-08-12,2009-08-12,PRV56573,10,PHY417685,NaN,PHY382041,V666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [ ]:
test_outpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125841 entries, 0 to 125840
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  125841 non-null  object
 1   ClaimID                 125841 non-null  object
 2   ClaimStartDt            125841 non-null  object
 3   ClaimEndDt              125841 non-null  object
 4   Provider                125841 non-null  object
 5   InscClaimAmtReimbursed  125841 non-null  int64
 6   AttendingPhysician      125525 non-null  object
 7   OperatingPhysician      21604 non-null   object
 8   OtherPhysician          47619 non-null   object
 9   ClmDiagnosisCode_1      123263 non-null  object
 10  ClmDiagnosisCode_2      78110 non-null   object
 11  ClmDiagnosisCode_3      49266 non-null   object
 12  ClmDiagnosisCode_4      30470 non-null   object
 13  ClmDiagnosisCode_5      17966 non-null   object
 14  ClmDiagnosisCode_6      11806 non-null   object
 15  ClmDiagnosisCode_7      7970 non-null    object
 16  ClmDiagnosisCode_8      5531 non-null    object
 17  ClmDiagnosisCode_9      3563 non-null    object
 18  ClmDiagnosisCode_10     263 non-null     object
 19  ClmProcedureCode_1      34 non-null      float64
 20  ClmProcedureCode_2      9 non-null       float64
 21  ClmProcedureCode_3      2 non-null       float64
 22  ClmProcedureCode_4      0 non-null       float64
 23  ClmProcedureCode_5      0 non-null       float64
 24  ClmProcedureCode_6      0 non-null       float64
 25  DeductibleAmtPaid       125841 non-null  int64
 26  ClmAdmitDiagnosisCode   25805 non-null   object
dtypes: float64(6), int64(2), object(19)
memory usage: 25.9+ MB

In [ ]:
test.head()

   Provider
0  PRV51002
1  PRV51006
2  PRV51009
3  PRV51010
4  PRV51018

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353 entries, 0 to 1352
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Provider  1353 non-null   object
dtypes: object(1)
memory usage: 10.7+ KB

In [ ]:
train_beneficiary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [ ]:
train_inpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
train_outpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [ ]:
train.head()

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

#### 1. Cleaning test_beneficiary dataset.

In [ ]:
# checking for duplicates on beneficiaries column.
# display duplicated beneficiaries in the column.
print(f"There are {test_beneficiary['BeneID'].duplicated().sum()} duplicate beneficiaries.")

There are 0 duplicate beneficiaries.

In [ ]:
# display unique number of beneficiaries.
print(f"There are {len(test_beneficiary.BeneID.unique())} unique beneficiaries.")

There are 63968 unique beneficiaries.

#### There are no duplicated values of beneficiaries.

In [ ]:
# Getting unique gender values from the column.
print(test_beneficiary['Gender'].unique())

[1 2]

#### There are only 2 genders on the dataset. They are represented as numbers, 1 and 2.

In [ ]:
# Getting unique race values from the column.
print(test_beneficiary['Race'].unique())

[1 2 3 5]

#### There are 4 categories of race, represented in numbers. 1, 2, 3 and 5.

#### 21. Cleaning test_inpatient dataset.

In [ ]:
# Count occurrences of each unique value
provider_counts = test_inpatient['Provider'].value_counts()
print(provider_counts)

Provider
PRV53866    604
PRV52618    345
PRV51407    272
PRV53105    216
PRV56573    185
           ...
PRV51537      1
PRV56786      1
PRV52812      1
PRV51461      1
PRV55781      1
Name: count, Length: 520, dtype: int64

In [ ]:
# Count occurrences of each unique value of attending physicians.
attending_physician_counts = test_inpatient['AttendingPhysician'].value_counts()
print(attending_physician_counts)

AttendingPhysician
PHY329480    301
PHY356825    299
PHY412004    270
PHY369188    215
PHY356145    185
            ...
PHY420458      1
PHY425548      1
PHY321166      1
PHY378553      1
PHY332594      1
Name: count, Length: 2657, dtype: int64

In [ ]:
# Count occurrences of each unique value of operating physicians.
operating_physician_counts = test_inpatient['OperatingPhysician'].value_counts()
print(operating_physician_counts)

OperatingPhysician
PHY356259    170
PHY350998    170
PHY335869    139
PHY411861    135
PHY356145    112
            ...
PHY403907      1
PHY393459      1
PHY362342      1
PHY352502      1
PHY389249      1
Name: count, Length: 1870, dtype: int64